.address-section {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;

    h5 {
        font-size: 15px;
        font-weight: 600;
        color: green;
        margin-bottom: 0;
    }

    .name {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 13px;
    }

    .address {
        margin-top: 5px;
        font-size: 12px;
    }

    .swap {
        float: right;
        margin-top: 17px;
        font-size: 19px;
        color: orange;
    }
}