<ion-card>
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-item lines="none">
      <ion-img
        style="border-radius: 4pt; height: 80px"
        src="./assets/course-placeholder.png"
        slot="start"
      ></ion-img>
      <ion-label>
        <h2 class="title">{{ course.courseName }}</h2>
        <h2 class="desc">Author: {{ course.author }}</h2>

        <p class="price">
          <span class="strike">{{ course.actualPrice }}</span>
          ₹{{ course.actualPrice | discount : course.discountPercentage }}
        </p>
        <ion-badge>{{ course.discountPercentage }} Discount Applied</ion-badge>
      </ion-label>

      <span style="text-align: end">
        <ion-icon
          slot="end"
          style="font-size: 18px"
          name="close"
          color="dark"
          (click)="cartService.deleteFromCart(course.id)"
        ></ion-icon>
      </span>
    </ion-item>
    <div class="action">
      <ion-button color="primary" (click)="moveToWishlist()"
        >Move to Wishlist</ion-button
      >
    </div>
  </ion-card-content>
</ion-card>
