.store {
    height: 150px;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 10px;

    ion-badge {
        margin-top: 14px;
        margin-left: 10px;
    }

    h5 {
        color: white;
        text-align: center;
        font-size: 24px;
        margin-top: 23px;
        font-weight: 600;
        position: absolute;
        left: 0;
        right: 0;
        top: 22%;
    }
}