<ion-card>
  <div
    class="label-prog"
    *ngIf="course.discountPercentage && course.discountPercentage !== '0'"
  >
    {{ course.discountPercentage }} Discount
  </div>
  <ion-icon
    [name]="
      wishlistService.isCourseExistsInWishlist(course)
        ? 'heart'
        : 'heart-outline'
    "
    [ngStyle]="{
      color: wishlistService.isCourseExistsInWishlist(course) ? 'red' : 'black'
    }"
    class="heart"
    (click)="wishlistService.updateWishlist(course)"
  ></ion-icon>
  <img [src]="photo" alt="" [routerLink]="['/product-details/' + course.id]" />
  <ion-card-content [routerLink]="['/product-details/' + course.id]">
    <ion-item lines="none">
      <ion-label>
        <h5>{{ course.courseName }}</h5>
        <p>
          {{ course.author }}
        </p>
      </ion-label>
      <ion-badge color="light" slot="end" class="rating">4.8</ion-badge>
    </ion-item>
    <div class="price-section">
      <p
        class="original-price"
        *ngIf="course.discountPercentage && course.discountPercentage !== '0'"
      >
        {{ course.actualPrice }}
      </p>
      <h6>₹{{ course.actualPrice | discount : course.discountPercentage }}</h6>
    </div>
  </ion-card-content>
</ion-card>
