<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs/tab1'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="https://images.unsplash.com/photo-1534723452862-4c874018d66d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3RvcmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="">

  <h5 style="margin-left: 15px;">Product Name</h5>

  <p class="label">Description</p>

  <p class="desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab distinctio aut pariatur, tenetur corrupti quo nesciunt quidem eum repellat cupiditate animi ducimus ipsa in dolore, voluptas culpa eius eos?
  </p>


</ion-content>

<ion-footer>
  <div class="qty">
    <ion-icon class="add" name="add-outline"></ion-icon>
    <span>1</span>
    <ion-icon class="remove" name="remove-outline"></ion-icon>
  </div>
  <ion-button expand="block">Add to Cart</ion-button>
</ion-footer>
