.placeholder {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  height: 100%;
}

.price-section {
  color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.fw-600 {
  font-weight: 600;
}

.price-tag {
  display: flex;
  align-items: center;
  color: black;

  ion-badge {
    margin-left: 10px;
  }
}

.discount-title {
  color: var(--ion-color-success);
  margin-top: 7px;
  font-weight: 600;
}

.first-section {
  padding: 5px;
  padding-top: 0px;
  // margin-top: 10px;
  background-color: white;
  .title {
    font-size: 16px;
    color: #333333;
    background: white;
    padding-top: 0px;
    margin-bottom: 10px;
    padding-left: 6px;
  }
  app-cart-item {
    ion-card {
      box-shadow: black !important;
    }
  }
}
