<ion-content [fullscreen]="true">
  <!-- <ion-list *ngIf="cartService.cart.length">
    <ion-item *ngFor="let item of cartService.cart">
      <ion-label>
        <h2>{{ item.courseName }}</h2>
        <p>Author: {{ item.author }}</p>
        <p>
          Price: ₹{{item.actualPrice | discount: item.discountPercentage }}
          <ion-badge color="success">{{item.discountPercentage}}</ion-badge>
        </p>
        <p>
          You saved ₹{{item.actualPrice | discountAllocated:
          item.discountPercentage}}
        </p>
      </ion-label>
      <ion-button color="danger" size="small">Remove</ion-button>
    </ion-item>
  </ion-list> -->

  <div class="first-section">
    <p class="title">{{'Items in the cart'}}</p>
    <app-cart-item
      *ngFor="let item of cartService.cart"
      [course]="item"
    ></app-cart-item>
  </div>

  <p *ngIf="!cartService.cart.length" class="placeholder">
    Your cart is empty.
  </p>
</ion-content>
<ion-footer *ngIf="cartService.cart.length">
  <div class="price-section">
    <h5>You Saved</h5>
    <h5>₹{{ cartService.totalSavings?.toFixed(2) }}</h5>
  </div>
  <div class="price-section">
    <h5>Total Price</h5>
    <h5>₹{{ cartService.totalPrice?.toFixed(2) }}</h5>
  </div>
  <ion-button expand="block" (click)="checkout()">Checkout</ion-button>
</ion-footer>
