<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search by author, course and tag name"
      (search)="search($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides
    pager="false"
    [options]="slideOpts"
    style="margin-bottom: 10px; margin-top: 10px"
  >
    <ion-slide
      *ngFor="let item of courseCategoriesList"
      (click)="goToSearch(item.name)"
    >
      <ion-col>
        <img class="slide-img" [src]="item.icon" alt="" />
        <p class="slide-text">{{item.name}}</p>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <div class="banner-section">
    <img src="../../assets/banner.png" alt="" />
  </div>

  <div class="store-section">
    <h5 class="courses-label">Explore Courses</h5>
    <app-store-card
      *ngFor="let item of coursesList"
      [course]="item"
      [isFeatured]="true"
      photo="./assets/course-placeholder.png"
    ></app-store-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="onPaginate($event)" threshold="0">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    slot="fixed"
    horizontal="end"
    vertical="bottom"
    *ngIf="cartService.cart?.length"
    (click)="openCart()"
  >
    <ion-badge
      color="success"
      style="left: -5px; z-index: 3; position: absolute"
      >{{cartService.cart?.length}}</ion-badge
    >
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
