<ion-content [fullscreen]="true">
  <div
    class="store-section"
    [ngStyle]="{'height': !wishlistService.wishlist?.length ? '80%' : 'auto'}"
  >
    <h5 class="courses-label">My Wishlist</h5>
    <app-store-card
      *ngFor="let item of wishlistService.wishlist"
      [course]="item"
      [isFeatured]="true"
      photo="./assets/course-placeholder.png"
    ></app-store-card>

    <h5 class="placeholder" *ngIf="!wishlistService.wishlist?.length">
      Wislist is Empty
    </h5>
  </div>
</ion-content>
