<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs/tab1'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="https://images.unsplash.com/photo-1534723452862-4c874018d66d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3RvcmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="">

  <h5 style="margin-left: 15px;">Shop Name</h5>

  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>

      <ion-label>
        <h5 [routerLink]="['/product-details']">Product Name</h5>
        <p style="margin-bottom: 5px;">Some short description</p>
        <ion-button color="primary" [routerLink]="['/cart']">Add to Cart</ion-button> <span class="price">$99.99</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>

      <ion-label>
        <h5 [routerLink]="['/product-details']">Product Name</h5>
        <p style="margin-bottom: 5px;">Some short description</p>
        <ion-button color="primary" [routerLink]="['/cart']">Add to Cart</ion-button> <span class="price">$99.99</span>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>

      <ion-label>
        <h5 [routerLink]="['/product-details']">Product Name</h5>
        <p style="margin-bottom: 5px;">Some short description</p>
        <ion-button color="primary" [routerLink]="['/cart']">Add to Cart</ion-button> <span class="price">$99.99</span>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
