.first-section {
    padding: 5px;
    padding-top: 0px;
    // margin-top: 10px;
    background-color: white;
    .title {
        font-size: 16px;
        color: #333333;
        background: white;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-left: 6px;
    }
    app-cart-item {
        ion-card{
            box-shadow: black !important;
        }
    }
}

.left-col {
    padding-left: 15px;
    font-size: 15px;

    .input-title {
        position: relative;
        top: 8px;
    }
}

.right-col {
    text-align: end;
    padding-right: 21px;

    ion-input {
        border: 1px solid lightgray;
        width: 140px;
        text-align: left;
        padding-left: 10px !important;
        font-size: 14px;
        border-radius: 5px;
        float: right;
    }
}

.total {
    font-size: 20px;
    font-weight: 600;
}

.total-amount {
    font-size: 20px;
    color: var(--ion-color-primary);
    font-weight: 700;
}