<ion-header>
  <ion-toolbar>
    <ion-title>Pay for your order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="first-section">
    <p class="title">{{'Items in the cart'}}</p>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
  </div>

  <app-address-card></app-address-card>

  <ion-item lines="none" style="--padding-start: 15px;">
    <ion-label>This order is a gift?</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>

  <ion-row style="margin-top: 10px;">
    <ion-col size="6" class="left-col">
      <span>Sub Total</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <span>$19.98</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="left-col">
      <span>Delivery</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <span>$10.67</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="left-col">
      <span>Payment Method</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <ion-icon style="font-size: 22px;" name="card-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 10px;">
    <ion-col size="6" class="left-col">
      <span class="input-title">Discount Coupon</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <ion-input placeholder="Coupon Code"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="left-col">
      <span class="input-title">Amount to Donate</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <ion-input placeholder="Amount $"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 10px;">
    <ion-col size="6" class="left-col">
      <span class="total">Total</span>
    </ion-col>
    <ion-col size="6" class="right-col">
      <span class="total-amount">$20.89</span>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-button style="--border-radius: 0;" expand="block" [routerLink]="['/add-payment']">Pay Now</ion-button>
</ion-footer>
